<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>
    <service
      android:name="net.mocomo.callaudio.CallAudioService"
      android:exported="false"
      android:foregroundServiceType="microphone"
      android:stopWithTask="false" />
  </application>
</manifest>
